/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #D3D3D3;
  
  background-size: cover;
}

/* App Container */
.App {
  text-align: center;
}

/* Header Styles */
.App-header {
  background-color: #111311;
  color: rgb(15, 14, 14);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 1.5s ease-out;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.project-title {
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

.App-header nav ul li a,
.App-header nav ul li button {
  color: rgb(1, 1, 10);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.App-header nav ul li button:hover,
.App-header nav ul li a:hover {
  text-decoration: underline;
}

.profile-icon img {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

/* Main Content Styles */
.App-main {
  padding: 20px;
  animation: fadeInUp 1.5s ease-out;
}

/* Footer Styles */
.App-footer {
  background-color: #d53232;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

/* Form Styles */
.Signup-form,
.Login-form {
  background: #ecedef;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1.5s ease-out;
}

.Signup-form h2,
.Login-form h2 {
  margin-top: 0;
}

.Signup-form input,
.Login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f6f1f1;
  border-radius: 3px;
}

.Signup-form button,
.Login-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.Signup-form button:hover,
.Login-form button:hover {
  background-color: #45a049;
}

.User-type {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.User-type label {
  font-size: 14px;
  cursor: pointer;
}

.User-type input {
  margin-right: 5px;
}

/* Dashboard Styles */
.dashboard {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  animation: fadeInUp 1.5s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  font-size: 1.2em;
}

.card p {
  font-size: 1.5em;
  color: #007bff;
}

/* Keyframes for Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 40px 0;
}

.footer h5 {
  color: #13f143;
}

.footer a {
  color: #28a745;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .form-inline input {
  margin-right: 10px;
}

.footer .text-center img {
  margin: 0 10px;
}

.footer .text-center img:hover {
  opacity: 0.8;
}
/* forgot password */
.Login-container {
  position: relative;
}

.forgot-password-container {
  position: absolute;
  top: 15%;
  right: 20%;
  background: #ecedef; 
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

.forgot-password-container h3 {
  margin-top: 0;
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
}

.forgot-password-container input {
  margin-bottom: 10px;
}

.forgot-password-container button {
  margin-top: 5px;
}

