/* AdminDashboard.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.sidebar {
  background-color: #343a40;
  height: 100vh;
  padding-top: 20px;
 
}

.sidebar h4 {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.sidebar .nav-link {
  color: #cfcfcf;
  padding: 15px;
  transition: all 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: green;
  color: #ffffff;
}

.container-fluid {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-responsive {
  margin-top: 20px;
}

.table th, .table td {
  vertical-align: middle;
}

.table thead {
  background-color: #007bff;
  color: #ffffff;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.btn {
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.MuiCard-root {
  margin: 20px;
  padding: 20px;
}
.MuiTypography-h4 {
  font-weight: bold;
}
.MuiTypography-h6 {
  margin-bottom: 10px;
}


.sidebar-title {
  font-weight: bold;
  text-align: center;
  color: white;
}

.sidebar img {
  border-radius: 50%;
  border: 2px solid #ddd;
}





